<div class="simple-dialog">
    <div mat-dialog-title class="header">
        <div class="title">{{title}}</div>
        @if (allowCloseWithoutAction) {
            <div class="icon"><img src="/assets/img/close-icon.png" mat-dialog-close/></div>
        }
    </div>    

    <mat-dialog-content class="content">
        {{content}}
    </mat-dialog-content>
    <mat-dialog-actions class="footer">
        <button mat-raised-button mat-dialog-close="No">No</button>
        <button mat-raised-button mat-dialog-close="Yes">Yes</button>    
    </mat-dialog-actions>
</div>
