mat-card.container {
    font-family: uhc_sansmedium;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    border-radius: 2px;
    box-shadow: 0 2px 2px #d7d7d7;
    border-top: 3px solid #003da1;
    padding: 0px;
    background: #fff;
    margin-bottom: 30px;    
}

mat-card.container a {
    color: #003da1;
}

mat-card-title.title {
    padding-top: 0;
}

mat-card.container .title  mat-card-title {
    font-family: uhc_sansbold;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding-bottom: 25px;
}

mat-card.container mat-card-footer {
    margin: auto;

}

mat-card.container mat-card.link-button  {
    box-shadow: none;
    border-bottom: 1px solid #e6eaeb;
    line-height: 20px; 
    padding-bottom: 12px;  
    line-height: 23px; 
}

mat-card.container .no-bottom-border {
    border-bottom: none !important; 
}
  
mat-card.container mat-card.link-button mat-card-title {
    display: flex;    
    position:relative;
}

mat-card.container mat-card-footer {
    padding: 18px;
    margin: 0;
    background: #e9f7f9;
}

mat-card.container mat-card-footer .content {
    margin: auto;
    width: 50%;
    text-align: center;    
}
  
mat-card.container .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    float: left;
  }
  
  mat-card.container .icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  
  mat-card.container .anchor {
    margin: 0 12px 0 85px
}

mat-card.container .anchor .header {
    font-family: "uhc_sansmedium";
    font-size: 16px;
    color: #003da1;    
}

mat-card.container .anchor .header a, 
mat-card.container .footer .content a {
    text-decoration: none;
}

mat-card.container .anchor .header a:hover, 
mat-card.container .footer .content a:hover {
    text-decoration: underline;
}

mat-card.container .anchor .text {
    font-family: "uhc_sansmedium";
    font-size: 14px;
    color: rgba(0,0,0,.87);
    line-height: 16px;
    padding-top: 3px;
}


  
  
  