mat-card.container {
    border-top: 2px solid #003da1;
    border-radius: 2px;
    margin-bottom: 30px;
}

mat-card-footer {
    margin: auto;

}

mat-card.link-button  {
    box-shadow: none;
}

mat-card.link-button  mat-card-header {
    padding: 0;    
    margin-bottom: 18px;
    border-bottom: 1px solid silver;
}

.no-bottom-border {
    border-bottom: none !important; 
}
  
mat-card.link-button mat-card-title {
    display: flex;    
    position:relative;
}

mat-card-footer {
    padding: 18px;
    margin: 0;
    background: #e9f7f9;
}

mat-card-footer .content {
    margin: auto;
    width: 25%;
}
  
  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    float: left;
  }
  
  .icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  
  .anchor {
    margin: 0 12px 0 85px
  }
  
  
  