<div class="my-coverage-medical-coverage">
    <div class="header">
        <div class="heading">
            Current Medical Coverages
        </div>
        <div class="links"> 
            @if (summaryBrochureLink) {
                <single-item-link-button 
                    class="nav-single-item-link-btn" 
                    [isExternal]="true"
                    [href]="summaryBrochureLink"
                    text="Summary Brochure"
                    iconPath="/assets/img/brochure-summary.png" />  
            }
            
            @if (brochureCertificateLink) {
                <single-item-link-button 
                    class="nav-single-item-link-btn" 
                    [isExternal]="true"
                    [href]="brochureCertificateLink"
                    text="Brochure Certificate"
                    iconPath="/assets/img/brochure-certificate.png" />  
            }
        </div>
    </div>
    <div class="content">
        <div class="account-info">
            <span class="account-type">{{ accountType }}</span> - <span class="account-name">{{ accountName }}</span>
        </div>

        <mat-accordion multi>
            <mat-expansion-panel 
                class="policy-info-header" 
                [expanded]="true"   
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">

            <mat-expansion-panel-header [class.small]="isSmallScreen">
                <mat-panel-title>
                    <div class="coverage-header" [class.small]="isSmallScreen">
                        <div class="item-1">
                            <span class="heading">SRID</span>
                            <span class="content">{{ srId }}</span>
                        </div>
                        <div class="item-2">
                            <span class="heading">Policy</span>
                            <span class="content">{{ policyNumber }}</span>
                        </div>
                        <div class="item-3">
                            <span class="heading">Client Name</span>
                            <span class="content">{{ clientName }}</span>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="policy-details">
                @if (confirmationOfCoverageLink) {
                    <div class="coverage-confirmation-link">
                        <single-item-link-button 
                            class="nav-single-item-link-btn" 
                            [isExternal]="true"
                            [href]="confirmationOfCoverageLink"
                            text="Confirmation of Coverage" />  
                    </div>
                }

                <div class="coverage-details" [class.small]="isSmallScreen">
                    <div class="item-1">
                        <span class="heading">Coverage</span>
                        <span class="content">{{ coverageDate }}</span>
                    </div>
                    <div class="item-2">
                        <span class="heading">Coverage Type</span>
                        <span class="content">{{ coverageType }}</span>
                    </div>
                    <div class="item-3">
                        <span class="heading">Plan Info</span>
                        <span class="content">{{ planInfo }}</span>
                    </div>
                </div>
            </div>
            </mat-expansion-panel>        
            
            @if (panelOpenState) { <mat-divider></mat-divider> }
        
        </mat-accordion>

        
        
    </div>
</div>