<div class="header">
    <div class="heading">
        Current Medical Coverages
    </div>
    <div class="links"> 
        @if (summaryBrochureLink) {
            <single-item-link-button 
                class="nav-single-item-link-btn" 
                [isExternal]="true"
                [href]="summaryBrochureLink"
                text="Summary Brochure"
                iconPath="/assets/img/brochure-summary.png" />  
        }
        
        @if (brochureCertificateLink) {
            <single-item-link-button 
                class="nav-single-item-link-btn" 
                [isExternal]="true"
                [href]="brochureCertificateLink"
                text="Brochure Certificate"
                iconPath="/assets/img/brochure-certificate.png" />  
        }
    </div>
</div>
<div class="content">
    <div class="account-info">
        <span class="account-type">{{ accountType }}</span> - <span class="account-name">{{ accountName }}</span>
    </div>

    <mat-accordion multi>
        <mat-expansion-panel 
            class="policy-info-header" 
            [expanded]="true"            
            (opened)="panelOpenState == true"
            (closed)="panelOpenState == false">

          <mat-expansion-panel-header>
            <mat-panel-title>
                <!-- TODO: small screens transpose rows/cols -->
                <div class="coverage-header">
                    <div class="col-1">
                        <span class="heading">SRID</span>
                        <span class="content">{{ srId }}</span>
                    </div>
                    <div class="col-2">
                        <span class="heading">Policy</span>
                        <span class="content">{{ policyNumber }}</span>
                    </div>
                    <div class="col-3">
                        <span class="heading">Client Name</span>
                        <span class="content">{{ clientName }}</span>
                    </div>
                </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
            @if (confirmationOfCoverageLink) {
                <div class="coverage-confirmation-link">
                    <single-item-link-button 
                        class="nav-single-item-link-btn" 
                        [isExternal]="true"
                        [href]="confirmationOfCoverageLink"
                        text="Confirmation of Coverage" />  
                </div>
            }
        </mat-expansion-panel>

        <mat-expansion-panel [hideToggle]="true">
            <mat-expansion-panel-header>
                Hi
            </mat-expansion-panel-header>
            
        </mat-expansion-panel>
      </mat-accordion>
      
</div>
