.button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;

    & img {
        width: auto;
        height: 16px;
    }

    & p {
        margin: 0;
    }

    & input {
        display: none;
    }
}