<div class="uhcsr-delivery-preferences" [class.small-screen]="isSmallScreen">

    @if (deliveryPreferenceOptions) {
        
        <mat-grid-list [cols]="isSmallScreen ? 1 : 2"  gutterSize="12px" [rowHeight]="rowHeight">
            <mat-radio-group aria-label="Select an option" color="primary" (change)="onChange" >
                
                @for (option of deliveryPreferenceOptions; track idx; let idx = $index) { 

                    <mat-grid-list cols="1" rowHeight="128px">
                        <mat-grid-tile><img [src]="option.iconPath" /></mat-grid-tile>
                        <mat-grid-tile><mat-radio-button [value]="option.value ? option.heading : idx" /></mat-grid-tile>
                        <mat-grid-tile>
                            <div class="heading">{{ option.heading }}</div>
                            <div class="subHeading" [innerHTML]="option.subHeading ?? ''" ></div>
                        </mat-grid-tile>
                    </mat-grid-list>

                }
            </mat-radio-group>
        </mat-grid-list>

    }
</div>
