<div class="uhcsr-delivery-preferences" [class.small-screen]="isSmallScreen">

    @if (deliveryPreferenceOptions) {
        
        <mat-grid-list [cols]="isSmallScreen ? 1 : 2"  gutterSize="12px" rowHeight="200px">
            <mat-radio-group aria-label="Select an option" color="primary" (change)="raiseChangeEvent($event)">
                
                @for (option of deliveryPreferenceOptions; track idx; let idx = $index) { 
                    <mat-grid-tile [class.odd]="idx % 2 == 0" [class.small]="isSmallScreen">
                        <div class="option-item">
                            <div class="icon"><img [src]="option.iconPath" /></div>
                            <div class="radio-button"><mat-radio-button [checked]="idx == selectedIndex" [value]="option.value ?? idx" /></div>
                            <div class="text">
                                <div class="heading">{{ option.heading }}</div>
                                <div class="subHeading" [innerHTML]="option.subHeading ?? ''" ></div>
                            </div>
                        </div>
                    </mat-grid-tile>
                }                
            </mat-radio-group>
        </mat-grid-list>

    }
</div>
