.uhcsr-delivery-preferences {

    mat-grid-tile {
        &.odd {
            border-right: 1px dashed var(--color-border-1);

            &.small {
                border-bottom: 1px dashed var(--color-border-1);
            }
        }
    }
   
    .option-item {
        display: flex;
        align-items: center;   
    
        font-family: var(--font-regular);
        font-size: 16px;
        line-height: 18px;        

        .heading {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 8px;
        }

        .icon, 
        .radio-button {
            margin-right: 9px;
            margin-left: 9px;
        }
    
        
    }

}

