<div class="my-coverage">

  <div class="area">
    <policy-selector [policies]="policies" [selectedValue]="policies[0].value">
      <policy-selector-buttons>
        <!-- TODO: On certain data consitions buttons might be hidden -->
        <icon-link titleText="Enroll Dependent" iconPath="/assets/img/enroll-dependent-redone.png"
          (iconLinkClick)="cardLinkOnClick($event)" />

        <icon-link titleText="Purchase Additional Coverage" iconPath="/assets/img/purchase-additional-coverage.png"
          (iconLinkClick)="cardLinkOnClick($event)" />
      </policy-selector-buttons>
    </policy-selector>
  </div>

  @if (!isSmallScreen) {
    <div class="area nav-link-buttons">
      <div class="one">
        <single-item-link-button 
          class="nav-single-item-link-btn" 
          text="Tax Documents"
          iconPath="/assets/img/tax-document.png"
          href="mycoverage/tax" />
      </div>
      <div class="two">
        <single-item-link-button 
          class="nav-single-item-link-btn" 
          text="History"
          iconPath="/assets/img/coverage-history.png" />
      </div>
      <div class="three">
        <single-item-link-button 
          class="nav-single-item-link-btn" 
          text="View Receipt"
          iconPath="/assets/img/view-receipt.png" />
      </div>
      <div class="four">
        <single-item-link-button 
          class="nav-single-item-link-btn" 
          text="ID Card"
          iconPath="/assets/img/id-card.png" />
      </div>
    </div>
  }
  <div class="area">
    <!-- TODO: active tab color is not correct -->
    <hyper-tabs-tab-group-button-grid>
      <hyper-tabs-tab-item heading="Medical">
        <div class="tab-content">
          <medical-coverage 
            accountType="Primary"
            accountName="Acct Five Eis Test"
            srId="9086024"
            policyNumber="2023-284-1"
            clientName="Old Dominion University"
            summaryBrochureLink="#"
            brochureCertificateLink="#"
            confirmationOfCoverageLink="#"
            coverageDate="08/01/2023 - 07/31/2024"
            coverageType="Student"
            planInfo="Medical - Domestic Students" />
        </div>
      </hyper-tabs-tab-item>
      <hyper-tabs-tab-item heading="Vision">
        <div class="tab-content">
          Here is the content for <u>Vision</u>
        </div>
      </hyper-tabs-tab-item>
      <hyper-tabs-tab-item heading="Dental">
        <div class="tab-content">
          Here is the content for <u>Dental</u>
        </div>
      </hyper-tabs-tab-item>
    </hyper-tabs-tab-group-button-grid>
  </div>
</div>

