.my-coverage {
    min-width: 640px;
    max-width: 1280px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;

    .area {
        padding: 16px 20px;

        &.nav-link-buttons {
            width: 525px;
            margin-left: auto;
            justify-items: center;
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "one two three four";

            .one {
                grid-area: one;
            }

            .two {
                grid-area: two;
            }

            .three {
                grid-area: three;
            }

            .four {
                grid-area: four;
            }

        }

        .tab-content {
            background-color: white;
            padding: 27px 30px 30px 30px;
        }

    }


}