@if (tabs) {

    @switch(dispayStyle) {
      
      <!-- screen size is small so display a link which when clicked displays a dropdown menu -->
      @case (ResponsiveTabsDisplayStyle.Menu) {        
        
        <a class="responsive-trigger" href="#" [matMenuTriggerFor]="appMenu">
          {{ responsiveLinkText ?? "Dropdown menu" }}
        </a>

        <mat-menu #appMenu="matMenu" class="uhcsr-responsive-tabs-link-button-menu">
            <!-- All links except for the first one -->
            @for (tab of tabs; track idx; let idx = $index) {
              <div >
                <a 
                  class="uhcsr-responsive-tabs-link-button-menu-item" [class.current]="idx == selectedIndex"
                  #myInput mat-menu-item href="#" 
                  [attr.data-index]="tab.value" 
                  (click)="menuItemClick($event, myInput)">
                  {{ tab.label }}
                </a>
              </div>
            }
        </mat-menu>
      } 

      <!-- screen size is normal so display tabs interface -->
      @default {
        
        <mat-tab-group class="uhcsr-responsive-tabs" mat-align-tabs="center" dynamicHeight="true" (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedIndex"> 
          @for (tab of tabs; track idx; let idx = $index) {
            <mat-tab [label]="tab.label"></mat-tab>
          }
        </mat-tab-group>
      }
      
    }
  }  



