a.responsive-trigger {
    font-family: UHCSans-Regular !important;
    font-size: 16px !important;
    color: #003da1 !important;                
    text-decoration: none !important;
    vertical-align: middle !important;    

    &:after {
       display: inline-block;
       content: '\25BC';
       position: relative;
       top: 2px;       
       font-size: 13px;
       transform: scaleY(.5) scaleX(1); 
    }
}


.uhcsr-responsive-tabs-link-button-menu .mat-mdc-menu-item-text {
    font-family: UHCSans-Regular !important;
    font-size: 16px !important;
    color: #003da1 !important;                
    text-decoration: none !important;
    vertical-align: middle !important;     
    
    :hover {
        text-decoration: underline !important;
    }
}


a.mat-mdc-menu-item.mat-mdc-focus-indicator.uhcsr-responsive-tabs-link-button-menu-item {
    border-bottom: 0.8px solid #cdd5d7;
}


// .uhcsr-multi-item-link-button-menu-item.current {
//     text-decoration: underline;
// }

.uhcsr-responsive-tabs {
    .mat-mdc-tab {
        border: 0.1px solid #cdd5d760 !important;

        .mdc-tab__text-label {
            font-family: UHCSans-Regular !important;
            font-size: 15px !important;
            color: #003da1 !important;                
        }
    
    }



}


