<mat-card class="card-link-item">
  <mat-card-content>
    <div class="policy-selector-container">
      <div class="policy-selector-select">
          <mat-form-field class="uhcsr-font">
              <mat-label class="uhcsr-font">Select Policy</mat-label>
              <mat-select disableRipple="true" panelClass="uhcsr-font" ngClass="uhcsr-font" appearance="outline">
                  @for (policy of policies; track idx; let idx = $index) {
                    <mat-option [value]="policy.value">
                      {{policy.name}}
                    </mat-option>  
                  }
              </mat-select>
          </mat-form-field>
      </div>    
      <div class="policy-selector-buttons">
        <ng-content select="policy-selector-buttons"></ng-content>
      </div>
  </div>  
  </mat-card-content>
</mat-card>


