.uhcsr-tool-tip .mdc-tooltip__surface 
   {
    font-family: UHCSans-Regular !important;
    font-size: 14px !important;
    min-width: 400px !important;
    padding: 15px !important;    
    color: rgb(0,0,0, .87) !important;
    background: #e8f6fa !important;
  }
  