@import '../hyper-tabs.scss';

.uhcsr-hyper-tabs-dropdown {

    & div.menu-button {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    a.responsive-trigger {
        font-family: var(--font-regular) !important;
        font-size: 16px !important;
        color: var(--color-primary) !important;
        text-decoration: none !important;
        vertical-align: middle !important;
        cursor: pointer;

        &:after {
            display: inline-block;
            content: '\25BC';
            position: relative;
            top: 2px;
            font-size: 13px;
            transform: scaleY(.5) scaleX(1);
        }
    }

}

a.hyper-tabs-dropdown-menu-item {
    
    border-bottom: 0.8px solid var(--color-border-2);
    
    &.current {
        background-color: var(--color-accent);

        .mat-mdc-menu-item-text {
            color: var(--color-light);
        }
        
    }

    :hover {
        text-decoration: underline !important;
    }

    .mat-mdc-menu-item-text {
        font-family: var(--font-regular) !important;
        font-size: 16px !important;
        color: var(--color-primary);
        text-decoration: none !important;
        vertical-align: middle !important;
    }
}