@import '../hyper-tabs.scss';

.uhcsr-hyper-tabs-dropdown {

    a.responsive-trigger {
        font-family: UHCSans-Regular !important;
        font-size: 16px !important;
        color: #003da1 !important;
        text-decoration: none !important;
        vertical-align: middle !important;

        &:after {
            display: inline-block;
            content: '\25BC';
            position: relative;
            top: 2px;
            font-size: 13px;
            transform: scaleY(.5) scaleX(1);
        }
    }

}

a.hyper-tabs-dropdown-menu-item {
    
    border-bottom: 0.8px solid #cdd5d7;
    
    &.current {
        background-color: #00a8f7;

        .mat-mdc-menu-item-text {
            color: white;
        }
        
    }

    :hover {
        text-decoration: underline !important;
    }

    .mat-mdc-menu-item-text {
        font-family: UHCSans-Regular !important;
        font-size: 16px !important;
        color: #003da1;
        text-decoration: none !important;
        vertical-align: middle !important;
    }
}