.uhcsr-hyper-tabs.uhcsr-hyper-tabs-accordian {

    mat-panel-title {
        img {
            max-width: 32px;
            margin-right: 12px;
        }
    }
    
    .tab-group {

        .mat-mdc-tab-body-wrapper {
            border-top: 1px solid #cdd5d7;            
        }

        .mat-mdc-tab {
            border: none !important;

            &.mdc-tab--active {
                background-color: transparent !important;

                .mdc-tab__text-label {
                    color: #00a8f7 !important;
                }
            }

            .mdc-tab__text-label {

                img {
                    margin-right: 12px;
                }
            }
        }
    }
}