.uhcsr-tooltip .mdc-tooltip__surface 
   {
    font-family: var(--font-regular) !important;
    font-size: 14px !important;
    min-width: 400px !important;
    padding: 15px !important;    
    color: rgb(0,0,0, .87) !important;
    background: var(--color-tooltip) !important;
    border: 1px solid var(--color-border-2) !important;
    border-radius: 6px !important;
  }
  