.uhcsr-hyper-tabs {
    .tab-group {
        &.small-screen mat-tab-header {
            display: none !important;
        }

        .mat-mdc-tab-body-wrapper {
            border-top: 3px solid var(--color-primary);
        }

        .mat-mdc-tab {
            border: 0.8px solid var(--color-border-1) !important;
            background-color: var(--color-light) !important;

            &.mdc-tab--active {
                background-color: var(--color-primary) !important;

                .mdc-tab__text-label {
                    font-family: var(--font-regular) !important;
                    font-size: 15px !important;
                    color: var(--color-light) !important;
                }
            }

            .mdc-tab__text-label {
                font-family: var(--font-regular) !important;
                font-size: 15px !important;
                color: var(--color-primary) !important;
            }
        }
    }
}
