.uhcsr-hyper-tabs.uhcsr-hyper-tabs-button-grid {
    button {
        width: -webkit-fill-available;
        font-family: UHCSans-Medium !important;
        font-size: 13px !important;
        color: #003da1 !important;

        &.current {
            color: white !important;
            background-color: #003da1 !important;
        }
    
    }
}