.uhcsr-hyper-tabs.uhcsr-hyper-tabs-button-grid {
    button {
        width: -webkit-fill-available;
        font-family: var(--font-medium) !important;
        font-size: 13px !important;
        color: var(--color-primary) !important;

        &.current {
            color: var(--color-light) !important;
            background-color: var(--color-primary) !important;
        }
    
    }
}