<div class="my-coverage-tax-documents">    
    <div class="container">
        <info-card title="Tax Documents">
            <div class="content" content>
                <mat-divider />
                
                <!-- TODO: borders -->
                <!-- TODO: hover -->
                <!-- TODO: spacing -->
                <!-- TODO: responsive, overflow -->
                <!-- TODO: data binding -->
                <!-- TODO: replace button with Terry's component -->
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th class="col-1" scope="col">Tax Year</th>
                            <th class="col-2" scope="col">School Name</th>
                            <th class="col-3" scope="col">Tax Type</th>
                            <th class="col-4" scope="col">Form</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2023</td>
                            <td>Old Dominion University</td>
                            <td>IRS Form 1095-B</td>
                            <td>
                                <div class="buttons">
                                        <button aria-label="View IRS Form 1095-B  (opens in a new window)">
                                            View Form
                                        </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2022</td>
                            <td>Old Dominion University</td>
                            <td>IRS Form 1095-B</td>
                            <td>
                                <div class="buttons">
                                        <button aria-label="View IRS Form 1095-B  (opens in a new window)">
                                            View Form
                                        </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </info-card>
        
    </div>
</div>

