<div class="my-coverage-tax-documents">    
    <div class="container">        
        <info-card title="Tax Documents" (closeButtonClicked)="closeButtonOnClick()">
            <div class="content" content>
                <mat-divider />                
                
                <!-- TODO: replace button with Terry's component -->
                @if(documents) {
                    <table class="table-hover">
                        <thead>
                            <tr>
                                <th class="table-header-1" scope="col">Tax Year</th>
                                <th class="table-header-2" scope="col">School Name</th>
                                <th class="table-header-3" scope="col">Tax Type</th>
                                <th class="table-header-4" scope="col">Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (doc of documents; track idx; let idx = $index) { 
                                <tr>
                                    <td>{{ doc.taxYear }}</td>
                                    <td>{{ doc.schoolName }}</td>
                                    <td>{{ doc.taxType }}</td>
                                    <td>
                                        <div class="buttons">
                                            <button aria-label="View IRS Form 1095-B  (opens in a new window)">View Form {{ doc.documentHref }}</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </info-card>
        
    </div>
</div>

