a.main {
    font-family: UHCSans-Medium;
    color: #003da1;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

a.main:hover {
    text-decoration: underline;
}

a.main:after,
a.uhcsr-multi-item-link-button-menu-item:after {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url(/assets/images/jive-icon-sprites-sml.png) -655px -784px no-repeat;
    content: "";
    margin: 0 12px .7ex calc(.35ex);
}

.uhcsr-multi-item-link-button-menu .mat-mdc-menu-item-text {
    font-family: UHCSans-Medium !important;
    /* color: #003da1; */
    font-size: 14px !important;
    text-decoration: none !important;
    vertical-align: middle !important;    
}
  

img.icon {
    vertical-align: middle;
}