<mat-card class="card-link-item" [class.flat]="flat" [class.raised]="!flat" [class.animate]="animate">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>        
          @if (iconPath) { <div class="icon"><img mat-card-xs-image [src]="iconPath" /></div> }
          <div class="anchor">
            <div>
              @if (titleText) { <a [class.external]="showExternalLinkIcon" (click)="raiseClickEvent($event)">{{ titleText }}</a> }
            </div>
            @if (subTitle) { <div>{{ subTitle }}</div> }
          </div>        
      </mat-card-title>          
    </mat-card-title-group>
  </mat-card-header>
</mat-card>


