
$font-bold: UHCSans-Bold;
$font-medium: var(--font-medium);
$font-regular: var(--font-regular);

mat-card.card-link-item {
	mat-card-header {
		padding: 0;
	}
	mat-card-title {
		display: flex;
		position: relative;
	}
	.icon {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;
		float: left;
		img {
			transition: all .3s linear;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 6px;
			margin-bottom: 6px;
		}
	}
	.anchor {
		margin: 0 12px 0 85px;
		a {
			font-family: $font-bold;
			color: var(--color-primary);
			font-size: 18px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}

			&.external {				
				&:after {
					display: inline-block;
					height: 12px;
					width: 12px;
					background: url(/assets/img/jive-icon-sprites-sml.png) -655px -784px no-repeat;
					content: "";
					margin: 0 12px .7ex calc(.35ex);
				}
			}

		}
	}
	.mat-mdc-card-title {
		font-family: $font-regular;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: .010em;
		color: var(--color-dark);
	}
}


mat-card.card-link-item.raised {
	border: solid 1px var(--color-border-1);
	box-shadow: 0 2px 2px var(--color-shadow-2);

	.icon {
		background: var(--color-shadow-1);
		img {
			padding-left: 12px;
			transform: translateY(50%);
		}
		&:before {
			top: 0;
			width: 20px;
			height: 50%;
			position: absolute;
			left: 100%;
			content: "";
			background: linear-gradient(to right top, var(--color-shadow-1) 50%, rgba(0, 0, 0, 0) 50%);
		}
		&:after {
			top: 50%;
			width: 20px;
			height: 50%;
			position: absolute;
			left: 100%;
			content: "";
			background: linear-gradient(to right bottom, var(--color-shadow-1) 50%, rgba(0, 0, 0, 0) 50%);
		}
	}
	.anchor {
		div {
			padding-top: 8px;
		}
	}
}

mat-card.card-link-item.flat {
	.anchor {
		a {
			font-family: $font-medium;
			color: var(--color-primary);
			font-size: 16px;
		}
	}
	box-shadow: none;
}

mat-card.card-link-item.animate {
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}