
$font-bold: UHCSans-Bold;
$font-medium: UHCSans-Medium;
$font-regular: UHCSans-Regular;

mat-card.card-link-item {
	mat-card-header {
		padding: 0;
	}
	mat-card-title {
		display: flex;
		position: relative;
	}
	.icon {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;
		float: left;
		img {
			transition: all .3s linear;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 6px;
			margin-bottom: 6px;
		}
	}
	.anchor {
		margin: 0 12px 0 85px;
		a {
			font-family: $font-bold;
			color: #003da1;
			font-size: 18px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.mat-mdc-card-title {
		font-family: $font-regular;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: .010em;
		color: #000;
	}
}


mat-card.card-link-item.raised {
	border: solid 1px #bdcacd;
	box-shadow: 0 2px 2px #d7d7d7;

	.icon {
		background: #e9f7f9;
		img {
			padding-left: 12px;
			transform: translateY(50%);
		}
		&:before {
			top: 0;
			width: 20px;
			height: 50%;
			position: absolute;
			left: 100%;
			content: "";
			background: linear-gradient(to right top, #e9f7f9 50%, rgba(0, 0, 0, 0) 50%);
		}
		&:after {
			top: 50%;
			width: 20px;
			height: 50%;
			position: absolute;
			left: 100%;
			content: "";
			background: linear-gradient(to right bottom, #e9f7f9 50%, rgba(0, 0, 0, 0) 50%);
		}
	}
	.anchor {
		div {
			padding-top: 8px;
		}
	}
}

mat-card.card-link-item.flat {
	.anchor {
		a {
			font-family: $font-medium;
			color: #003da1;
			font-size: 16px;
		}
	}
	box-shadow: none;
}

mat-card.card-link-item.animate {
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}