<mat-card class="card-link-item" [class.flat]="flat" [class.raised]="!flat" [class.animate]="animate">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>        
          <div class="icon"><img mat-card-xs-image [src]="iconPath" /></div>
          <div class="anchor">
            <div>
              <a href="javascript:void(null);" (click)="raiseClickEvent($event)">{{ titleText }}</a>
            </div>
            <div>
              {{ subTitle }}
            </div>
          </div>        
      </mat-card-title>          
    </mat-card-title-group>
  </mat-card-header>
</mat-card>


