@use "@angular/material" as mat;
@import '/src/lib/core/theming/uhcsr.scss';

@include mat.core();

$uhcsr-app-primary: mat.define-palette($md-uhcsr-primary);
$uhcsr-app-accent: mat.define-palette($md-uhcsr-accent, A200, A100, A400);
$uhcsr-app-warn: mat.define-palette(mat.$red-palette);

$uhcsr-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $uhcsr-app-primary,
      accent: $uhcsr-app-accent,
      warn: $uhcsr-app-warn,
    ),
  )
);

// $primary: mat.get-color-from-palette($uhcsr-app-primary, 500);
// $accent: mat.get-color-from-palette($uhcsr-app-accent, 500);
// $warn: mat.get-color-from-palette($uhcsr-app-warn, 500);

@include mat.all-component-themes($uhcsr-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@font-face {
    font-family:uhc_sansregular;
    src:url(/assets/fonts/uhcsans-regular-webfont.woff2) format("woff2"),
    url(/assets/fonts/uhcsans-regular-webfont.woff2) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:uhc_sansmedium;
    src:url(/assets/fonts/uhcsans-medium-webfont.woff2) format("woff2"),
    url(/assets/fonts/uhcsans-medium-webfont.woff2) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:uhc_sansbold;
    src:url(/assets/fonts/uhcsans-bold-webfont.woff2) format("woff2"),
    url(/assets/fonts/uhcsans-bold-webfont.woff2) format("woff");
    font-weight:400;
    font-style:normal
}


@font-face{
    font-family:UHCSans-Black;
    src:url(/assets/fonts/UHCSans-Black.woff);
    font-weight:400;font-style:normal
}
@font-face{
    font-family:UHCSans-Bold;
    src:url(/assets/fonts/UHCSans-Bold.woff);
    font-weight:400;font-style:normal
}
@font-face{
    font-family:UHCSans-Italic;
    src:url(/assets/fonts/UHCSans-Italic.woff);
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:UHCSans-Regular;
    src:url(/assets/fonts/UHCSans-Regular.woff);
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:UHCSans-Medium;
    src:url(/assets/fonts/UHCSans-Medium.woff);
    font-weight:400;
    font-style:normal
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


