a.single-item-link-button {
    font-family: var(--font-medium);
    color: var(--color-primary);
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &.is-external {
        &:after {
            display: inline-block;
            height: 12px;
            width: 12px;
            background: url(/assets/img/jive-icon-sprites-sml.png) -655px -784px no-repeat;
            content: "";
            margin: 0 12px .7ex calc(.35ex);
        }    
    }
}


img.single-item-link-button {
    vertical-align: middle;
}

