  mat-card.widget {
    background-color: var(--color-light);
    border: 1px solid var(--color-border-1);
    border-radius: 2px;
    border-top: 3px solid var(--color-primary);
    box-shadow: var(--color-shadow-2) 0 2px 2px;
    margin-bottom: 30px;

    mat-card-header {
      padding: 20px 20px 0 20px;
    }

    mat-card-content {
      padding: 0 20px 20px 20px;
    }

    mat-card-content {
      min-height: 85px;
    }

    mat-card-footer {
      background: var(--color-shadow-1);
      padding: 18px;
    }

    .header {
      color: var(--color-dark);
      font-family: UHCSans-Bold;
      font-size: 18px;
      margin: 0;
      padding-bottom: 25px;
    }

    @media (max-width: 767px) {
      margin-bottom: 14px;
      overflow: hidden;
      padding-bottom: 13px;
    }

    @media (max-width: 959px) and (min-width: 600px) {
      margin-bottom: 14px;
    }

    @media (max-width: 375px) and (min-width: 320px) {
      margin-bottom: 14px;
      overflow: hidden;
      padding-bottom: 0;
    }

    @media only screen and (min-width: 601px) and (max-width: 766px) and (orientation:landscape) {
      padding-bottom: 13px;
    }
  }