<h1 style="margin:40px">Shared Components Demo</h1>

<responsive-tabs [tabs]="tabs" responsiveLinkText="Please click to see options" (onClick)="responsiveTabsOnClick($event)"/>

<div style="margin: 40px; max-width: 800px">
  <multi-item-link-button 
    [links]="multiItemlinks"
    iconPath="https://myaccount.uhcsr.com/assets/images/brochure-summary.png" />
  <br/>
  <multi-item-link-button 
    [links]="multiItemlinks | slice:1:2"
    iconPath="https://myaccount.uhcsr.com/assets/images/brochure-certificate.png" />
</div>

<div style="margin: 40px; max-width: 800px; display: flex; flex: row nowrap;">
  <div><h2>My Claims</h2></div>
  <div style="padding: 10px;">
    <tooltip-icon 
      iconPath="https://myaccount.uhcsr.com/assets/images/question-icon.png"
      tooltipeText="View/print your explanation of benifits (EOB) or claim details by selecting More Options then View Explanation of Benefits for claims with a status of Processed or Denied. If you have a question on any claim use the Ask Us a Question option to e-mail Customer Service." />
  </div>
</div>


<div style="margin: 40px; max-width: 800px">
  <policy-selector [policies]="policies">
    <policy-selector-buttons>
      <icon-link 
        titleText="Purchase Additional Coverage" 
        iconPath="https://myaccount.uhcsr.com/assets/images/purchase-additional-coverage.png" 
        (onClick)="cardLinkOnClick($event)"/>
    </policy-selector-buttons>
  </policy-selector>  
</div>

<div  style="margin: 40px; width: 350px">
    <card-link-list heading="My Claims/Balances">
      <card-link-list-content>
        <div style="display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center;">
          <card-link 
          [flat]="true" [animate]="true"
          titleText="Claims Summary"    
          subTitle="Summary of pending & completed claims"
          iconPath = "https://myaccount.uhcsr.com/assets/images/ico-coverage-info.png"
          (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
          [flat]="true" [animate]="true"
          titleText="Member Balances"    
          subTitle="Deductible and Out-of-Pocket Balances"
          iconPath = "https://myaccount.uhcsr.com/assets/images/ico-completed-claims.png"
          (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
          [flat]="true" [animate]="true"
          titleText="Submit Claim"    
          subTitle="Request Reimbursement for your claims"
          iconPath = "https://myaccount.uhcsr.com/assets/images/ico-pra.png"
          (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
          [flat]="true" [animate]="true"
          titleText="Coverage Information"    
          subTitle="Policy Info for your claims and coverages"
          iconPath = "https://myaccount.uhcsr.com/assets/images/ico-id.png"
          (onClick)="cardLinkOnClick($event)" />

        </div>
      </card-link-list-content>
      <card-link-list-footer style="display:block;margin:auto;width:50%;text-align: center;;">
        <a href="#">Explore More</a>
      </card-link-list-footer>
    </card-link-list>
  </div>
 
  <div style="margin: 40px; width: 350px">
    <card-link 
      titleText="Coverage Information"    
      subTitle="Policy Info., Tax Documents, Get Additional Coverage, View Coverage Letter (COC)"
      iconPath = "https://myaccount.uhcsr.com/assets/images/ico-coverage-info.png"
      (onClick)="cardLinkOnClick($event)" />
  </div>    
