<h1 style="margin:40px">Shared Components Demo</h1>

<div style="margin: 40px;  max-width: 1024px; background-color: white;"> 
  <delivery-preferences [deliveryPreferenceOptions]="deliveryPreferenceOptions" />
</div>

<div style="margin: 40px;  max-width: 1024px; background-color: white;"> <!-- min-width: 910px; -->
  <hyper-tabs-tab-group-button-grid>
    <hyper-tabs-tab-item heading="Medical">Here is the content for <u>Medical</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="Prescription">Here is the content for <u>Prescription</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="Additional Benifits">Here is the content for <u>Additional Benifits</u></hyper-tabs-tab-item>
  </hyper-tabs-tab-group-button-grid>
</div>



<div style="margin: 40px;  max-width: 1024px; background-color: white;"> <!-- min-width: 910px; -->
  <hyper-tabs-tab-group-accordian>
    <hyper-tabs-tab-item 
      heading="Medical Benifits" iconUrl="/assets/img/medical-benefits.png" altIconUrl="/assets/img/ico-medical-benefits.png">Here is the content for <u>Medical Benifits</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="Member Balances" iconUrl="/assets/img/member-balances.png" altIconUrl="/assets/img/ico-member-balances.png">Here is the content for <u>Member Balances</u></hyper-tabs-tab-item>
  </hyper-tabs-tab-group-accordian>
</div>


<div style="margin: 40px; max-width: 1024px; background-color: white;"> <!-- min-width: 910px; -->
  <hyper-tabs-tab-group-dropdown responsiveLinkText="What are my options?">
    <hyper-tabs-tab-item heading="View Claims">Here is the content for <u>View Claims</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="View Claim Letters">Here is the content for <u>View View Claim Letters</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="View Claim Review Responses">Here is the content for <u>View Claim Review Responses</u></hyper-tabs-tab-item>
    <hyper-tabs-tab-item heading="View Web Submissions">Here is the content for <u>View Web Submissions</u></hyper-tabs-tab-item>
  </hyper-tabs-tab-group-dropdown>
</div>


<div style="margin: 40px; max-width: 800px">
  <multi-item-link-button 
    [links]="multiItemlinks"
    iconPath="/assets/img/brochure-summary.png" />
  <br/>
  <multi-item-link-button 
    [links]="multiItemlinks | slice:1:2"
    iconPath="/assets/img/brochure-certificate.png" />
</div>

<div style="margin: 40px; max-width: 800px; display: flex; flex: row nowrap;">
  <div><h2>My Claims</h2></div>
  <div style="padding: 10px;">
    <tooltip-icon 
      iconPath="/assets/img/question-icon.png"
      tooltipeText="View/print your explanation of benifits (EOB) or claim details by selecting More Options then View Explanation of Benefits for claims with a status of Processed or Denied. If you have a question on any claim use the Ask Us a Question option to e-mail Customer Service." />
  </div>
</div>


<div style="margin: 40px; max-width: 800px">
  <policy-selector [policies]="policies">
    <policy-selector-buttons>
      <icon-link 
        titleText="Purchase Additional Coverage" 
        iconPath="/assets/img/purchase-additional-coverage.png" 
        (onClick)="cardLinkOnClick($event)"/>
    </policy-selector-buttons>
  </policy-selector>  
</div>

<div  style="margin: 40px; width: 350px">
    <card-link-list heading="My Claims/Balances">
      <card-link-list-content>
        <div style="display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center;">
          <card-link 
            [flat]="true" [animate]="true"
            titleText="Claims Summary"    
            subTitle="Summary of pending & completed claims"
            iconPath = "/assets/img/ico-coverage-info.png"
            (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
            [flat]="true" [animate]="true"
            titleText="Member Balances"    
            subTitle="Deductible and Out-of-Pocket Balances"
            iconPath = "/assets/img/ico-completed-claims.png"
            (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
            [flat]="true" [animate]="true"
            titleText="Submit Claim"    
            subTitle="Request Reimbursement for your claims"
            iconPath = "/assets/img/ico-pra.png"
            (onClick)="cardLinkOnClick($event)" />

          <hr style="margin: 18px; border: 1px solid #e6eaeb; width: 100%;"/>

          <card-link 
            [flat]="true" [animate]="true"
            titleText="Coverage Information"    
            subTitle="Policy Info for your claims and coverages"
            iconPath = "/assets/img/ico-id.png"
            (onClick)="cardLinkOnClick($event)" />

        </div>
      </card-link-list-content>
      <card-link-list-footer style="display:block;margin:auto;width:50%;text-align: center;;">
        <a href="#">Explore More</a>
      </card-link-list-footer>
    </card-link-list>
  </div>
 
  <div style="margin: 40px; width: 350px">
    <card-link 
      titleText="Coverage Information"    
      subTitle="Policy Info., Tax Documents, Get Additional Coverage, View Coverage Letter (COC)"
      iconPath = "/assets/img/ico-coverage-info.png"
      (onClick)="cardLinkOnClick($event)" />
  </div>    
